# IDE files
.idea
.idea/
logging/
logging

# User data
assets
assets/
user_data/
user_data
# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__
*.py[cod]
*.pyc

# Virtual environment
.venv
.venv/
env/
icons/
