[Desktop Entry]
Type=Application
Name=Direct Buying Strategy
Comment=Launch my Trading GUI
Exec="/home/kavi/Documents/Python Files/.venv/bin/python" /home/kavi/Desktop/Swing_Trader/main.py 

Icon=direct_buying.png
Terminal=false
Categories=Utility;
Name[en_IN]=Swing_Trader


